alembic
asgiref
attrs
beautifulsoup4
black
build
CacheControl
certifi
chardet
charset-normalizer
cleo
click
colorama
crashtest
distlib
Django
django-cors-headers
django-environ
djangorestframework
djangorestframework-simplejwt
dulwich
filelock
flake8
flake8-black
geckodriver-autoinstaller
greenlet
html5lib
idna
importlib-metadata
installer
internetdownloadmanager
isort
jaraco.classes
jsonschema
keyring
lockfile
Mako
MarkupSafe
mccabe
more-itertools
msgpack
mypy-extensions
mysql-connector-python
numpy
packaging
pandas
pathspec
pexpect
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
psycopg2
psycopg2-binary
ptyprocess
pycodestyle
pyflakes
PyJWT
pyproject_hooks
pyrsistent
python-dateutil
python-decouple
python-dotenv
pytz
pywin32-ctypes
rapidfuzz
requests
requests-toolbelt
selenium==3.141.0
shellingham
six
soupsieve
SQLAlchemy
sqlparse
termcolor
tomlkit
tqdm
trove-classifiers
typing_extensions
tzdata
urllib3
virtualenv
webencodings
zipp
